<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="write">
        <v-toolbar-title>Vehiculos</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="placa" label="Placa"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-select v-model="rol" :items="roles" label="Rol">
                    </v-select>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="modelo" label="Modelo">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="color" label="Color"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="tipo" label="Tipo"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="marca" label="Marca"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="propietario" label="Propietario">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialog2" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.placa" label="Placa">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.color" label="Color">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.marca" label="Marca">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.modelo" label="Modelo">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field
                      v-model="editedItem.propietario"
                      label="Propietario"
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.tipo" label="Tipo">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close">Cancelar</v-btn>
              <v-btn color="primary" flat @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290"> </v-dialog>
      </v-toolbar>
      <div>
        <v-data-table
          :headers="headers"
          :items="vehiculos"
          class="elevation-1"
          :search="search"
        >
          <template v-slot:[`item.acciones`]="{ item }">
            <v-btn color="primary" @click="editItem(item)">Editar</v-btn>
          </template>
          <template v-slot:no-data>
            <v-btn color="primary" @click="listar()">Resetear</v-btn>
          </template>
        </v-data-table>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      dialog2: false,
      search: '',
      editedItem: {
        color: '',
        id: '',
        marca: '',
        modelo: '',
        placa: '',
        propietario: '',
        tipo: ''
      },
      vehiculos: [],
      headers: [
        { text: 'Placa', value: 'placa', sortable: true },
        { text: 'Modelo', value: 'modelo', sortable: true },
        { text: 'Color', value: 'color', sortable: false },
        { text: 'Tipo', value: 'tipo', sortable: false },
        { text: 'Marca', value: 'marca', sortable: true },
        { text: 'Propietario', value: 'propietario', sortable: true },
        { text: 'Acciones', value: 'acciones', sortable: true }
      ],
      form: {
        placa: '',
        modelo: '',
        color: '',
        tipo: '',
        marca: '',
        propietario: ''
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo registro' : 'Editar registro'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.listar()
  },
  methods: {
    listar () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarVehiculos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          console.log(data)
          this.vehiculos = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    guardar () {
      const token = sessionStorage.getItem('Token')
      console.log(token)
      axios
        .post(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/editarVehiculo',
          {
            id: this.editedItem.id,
            placa: this.editedItem.placa,
            modelo: this.editedItem.modelo,
            color: this.editedItem.color,
            tipo: this.editedItem.tipo,
            marca: this.editedItem.marca,
            propietario: this.editedItem.propietario
          },
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          console.log(respuesta.data)
          this.close()
          this.listar()
          return respuesta.data
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.error)
        })
    },
    editItem (item) {
      this.editedItem = Object.assign({}, item)
      console.log(this.editedItem.id)
      this.dialog2 = true
    },
    close () {
      this.dialog2 = false
    }
  }
}
</script>
