<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="write">
        <v-toolbar-title>Reservas</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="placa" label="Placa"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-select v-model="rol" :items="roles" label="Rol">
                    </v-select>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="modelo" label="Modelo">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="color" label="Color"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="tipo" label="Tipo"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="marca" label="Marca"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="propietario" label="Propietario">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div
                      class="red--text"
                      v-for="v in validaMensaje"
                      :key="v"
                      v-text="v"
                    ></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close">Cancelar</v-btn>
              <v-btn color="primary" flat @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialog2" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-layout wrap>
                  <v-col cols="12">
                    <v-select
                      :items="vehiculos"
                      item-text="placa"
                      item-value="id"
                      label="Selecciona un vehiculo"
                      return-object
                      single-line
                      v-model="IDVehiculo"
                    ></v-select>
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      v-model="IDUsuario"
                      :items="usuarios"
                      item-text="email"
                      item-value="id"
                      label="Selecciona un usuario"
                      return-object
                      single-line
                    ></v-select>
                  </v-col>
                  <v-text-field
                    v-model="editedItem.estado"
                    autofocus
                    color="accent"
                    label="Estado"
                    required
                  >
                  </v-text-field>
                  <v-text-field
                    v-model="editedItem.hora"
                    autofocus
                    color="accent"
                    label="Hora"
                    required
                  >
                  </v-text-field>
                  <v-layout>Fecha</v-layout>
                  <input
                    v-model="editedItem.fecha"
                    id="fecha"
                    type="datetime-local"
                    name="partydate"
                    value=""
                    min="2020-12-07"
                  />
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close2">Cancelar</v-btn>
              <v-btn color="primary" flat @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline" v-if="adAccion == 1">
              Activar Item
            </v-card-title>
            <v-card-title class="headline" v-if="adAccion == 2">
              Desactivar Item
            </v-card-title>
            <v-card-text>
              Estás a punto de <span v-if="adAccion == 1">activar </span>
              <span v-if="adAccion == 2">desactivar </span> el item
              {{ adMarca }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                @click="activarDesactivarCerrar()"
                color="green darken-1"
                flat="flat"
              >
                Cancelar
              </v-btn>
              <v-btn
                v-if="adAccion == 1"
                @click="activar()"
                color="orange darken-4"
                flat="flat"
              >
                Activar
              </v-btn>
              <v-btn
                v-if="adAccion == 2"
                @click="desactivar()"
                color="orange darken-4"
                flat="flat"
              >
                Desactivar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="reservas"
        :search="search"
        class="elevation-1"
      >
        <template v-slot:items="props">
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <template v-if="props.item.estado">
              <v-icon small @click="activarDesactivarMostrar(2, props.item)">
                block
              </v-icon>
            </template>
            <template v-else>
              <v-icon small @click="activarDesactivarMostrar(1, props.item)">
                check
              </v-icon>
            </template>
          </td>
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.idusuario }}</td>
          <td>{{ props.item.idvehiculo }}</td>
          <td>{{ props.item.fecha }}</td>
          <td>{{ props.item.hora }}</td>
          <td>{{ props.item.estado }}</td>
          <td>
            <div v-if="props.item.estado">
              <span class="blue--text">Activo</span>
            </div>
            <div v-else>
              <span class="red--text">Inactivo</span>
            </div>
          </td>
        </template>
        <template v-slot:[`item.acciones`]="{ item }">
          <v-btn color="primary" @click="editItem(item)">Editar</v-btn>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Resetear</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      dialog2: false,
      search: '',
      vehiculos: [],
      usuarios: [],
      reservas: [],
      IDVehiculo: null,
      IDUsuario: null,
      editedItem: {
        idusuario: '',
        id: '',
        idvehiculo: '',
        fecha: '',
        hora: '',
        estado: ''
      },
      headers: [
        { text: 'ID', value: 'id', sortable: false },
        { text: 'ID Usuario', value: 'idusuario', sortable: true },
        { text: 'ID Vehiculo', value: 'idvehiculo', sortable: true },
        { text: 'Fecha', value: 'fecha', sortable: true },
        { text: 'Hora', value: 'hora', sortable: false },
        { text: 'Estado', value: 'estado', sortable: false },
        { text: 'Acciones', value: 'acciones', sortable: true }
      ],
      editedIndex: -1,
      id: '',
      placa: '',
      modelo: '',
      rol: '',
      roles: ['Estudiante', 'Docente', 'Colaborador'],
      color: '',
      tipo: '',
      marca: '',
      propietario: '',
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adMarca: '',
      adPropietario: '',
      adId: ''
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo registro' : 'Editar registro'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.listar()
    this.listarVehiculos()
    this.listarUsers()
  },
  methods: {
    listarVehiculos () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarVehiculos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          this.vehiculos = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    listarUsers () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarTodos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          this.usuarios = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    listar () {
      const token = sessionStorage.getItem('Token')
      axios
        .get('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarReservas', {
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then((respuesta) => {
          console.log()
          return respuesta.data
        })
        .then((data) => {
          console.log(data)
          this.reservas = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    limpiar () {
      this.id = ''
      this.placa = ''
      this.modelo = ''
      this.color = ''
      this.tipo = ''
      this.marca = ''
      this.propietario = ''
      this.valida = 0
      this.validaMensaje = []
      this.editedIndex = -1
    },
    validar () {
      this.valida = 0
      this.validaMensaje = []
      if (!this.rol) {
        this.validaMensaje.push('Seleccione un rol.')
      }
      if (this.placa.length < 1 || this.placa.length > 10) {
        this.validaMensaje.push(
          'La placa del vehiculo debe tener entre 1-10 caracteres.'
        )
      }
      if (this.modelo.length < 1 || this.modelo.length > 50) {
        this.validaMensaje.push(
          'El modelo del vehiculo debe tener entre 1-50 caracteres.'
        )
      }
      if (this.color.length < 1 || this.color.length > 50) {
        this.validaMensaje.push(
          'El color del vehiculo debe tener entre 1-50 caracteres.'
        )
      }
      if (this.tipo.length < 1 || this.tipo.length > 50) {
        this.validaMensaje.push(
          'El tipo del vehiculo debe tener entre 1-50 caracteres.'
        )
      }
      if (this.validaMensaje.length) {
        this.valida = 1
      }
      return this.valida
    },
    guardar () {
      const token = sessionStorage.getItem('Token')
      // Código para guardar
      axios
        .post(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/editarReserva',
          {
            IDVehiculo: this.IDVehiculo.id,
            IDUsuario: this.IDUsuario.id,
            Fecha: this.editedItem.fecha,
            Hora: this.editedItem.hora,
            Estado: this.editedItem.estado
          },
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          history.pushState(null, '', '/usuario')
          location.reload()
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.errorM)
        })
    },
    editItem (item) {
      this.editedItem = Object.assign({}, item)
      this.IDVehiculo = this.editedItem.idvehiculo
      this.IDUsuario = this.editedItem.idusuario
      console.log(this.editedItem.id)
      this.dialog2 = true
    },
    activarDesactivarMostrar (accion, item) {
      this.adModal = 1
      this.adMarca = item.marca
      this.adId = item.id
      if (accion === 1) {
        this.adAccion = 1
      } else if (accion === 2) {
        this.adAccion = 2
      } else {
        this.adModal = 0
      }
    },
    activarDesactivarCerrar () {
      this.adModal = 0
    },
    activar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      axios
        .put('vehiculo/deactivate', { id: this.adId }, configuracion)
        .then(function (response) {
          me.adModal = 0
          me.adAccion = 0
          me.adMarca = ''
          me.adId = ''
          me.listar()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    desactivar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      axios
        .put('vehiculo/deactivate', { id: this.adId }, configuracion)
        .then(function (response) {
          me.adModal = 0
          me.adAccion = 0
          me.adMarca = ''
          me.adId = ''
          me.listar()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    close () {
      this.dialog = false
    },

    close2 () {
      this.dialog2 = false
    }
  }
}
</script>
