<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
      <v-card>
        <v-toolbar dark color="blue darken-3">
          <v-toolbar-title> Crear Reserva </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-col cols="12">
            <v-select
              :items="vehiculos"
              item-text="placa"
              item-value="id"
              label="Selecciona un vehiculo"
              return-object
              single-line
              v-model="IDVehiculo"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="IDUsuario"
              :items="usuarios"
              item-text="email"
              item-value="id"
              label="Selecciona un usuario"
              return-object
              single-line
            ></v-select>
          </v-col>
          <v-text-field
            v-model="Hora"
            autofocus
            color="accent"
            label="Hora"
            required
          >
          </v-text-field>
          <v-layout>Fecha</v-layout>
          <input
            v-model="Fecha"
            id="fecha"
            type="datetime-local"
            name="partydate"
            value=""
            min="2020-12-07"
          />
        </v-card-text>
        <v-card-actions class="px-3 pb-3">
          <v-flex text-xs-right>
            <v-btn color="primary" @click="guardar()">Guardar Reserva</v-btn><br />
            <br />
            <a href="/ConsultarReserva"
              >¿Ya tienes una reserva? Consulta aqui
            </a>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from 'axios'
export default {
  name: 'CrearReserva',
  data () {
    return {
      vehiculos: [],
      usuarios: [],
      reservas: [],
      IDVehiculo: null,
      IDUsuario: null,
      Fecha: '',
      Hora: '',
      Estado: ''
    }
  },
  mounted () {
    this.listar()
  },
  created () {
    this.listarUsers()
    this.listarReservas()
  },
  methods: {
    listar () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarVehiculos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          this.vehiculos = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    listarUsers () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarTodos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          this.usuarios = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },

    guardar () {
      console.log(this.IDVehiculo.id)
      const token = sessionStorage.getItem('Token')
      console.log(token)
      axios.post('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/registroReserva',
        {
          IDVehiculo: this.IDVehiculo.id,
          IDUsuario: this.IDUsuario.id,
          Fecha: this.Fecha,
          Hora: this.Hora,
          Estado: 'A'
        }, {
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then((respuesta) => {
          console.log(respuesta.data)
          return respuesta.data
        })
        .then((data) => {
          history.pushState(null, '', '/ConsultarReserva')
          location.reload()
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.error)
        })
    }
  }
}
</script>
