<template>
  <v-container align-center justifu-center>
    <v-row class="text">
      <v-col cols="12"> </v-col>
      <v-col class="mb-2">
        <h1 center class="text-center"></h1>
      </v-col>
      <v-col class="mb-5" cols="8">
        <template>
          <v-container fluid>
            <img src="../assets/proxy-image.png" alt="" />
          </v-container>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Home',

  data: () => ({})
}
</script>
