<template>
    <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
        <v-card>
            <v-toolbar dark color="blue darken-3">
            <v-toolbar-title>
                Acceso al Sistema
            </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-text-field v-model="email" type="email" autofocus color="accent" label="Email" required>
                </v-text-field>
                <v-text-field v-model="password" type="password" autofocus color="accent" label="Password" required>
                </v-text-field>
            </v-card-text>
            <v-card-actions class="px-3 pb-3">
            <v-flex text-xs-right>
            <v-btn @click="Autenticacion()" color="primary" right absolute>Ingresar</v-btn>
            <br>
            <label for="">No tienes cuenta? <a href="/registro">¡Registrate aquí!</a></label>
            <br>
            <a href="/olvidoContrasenia">Olvidaste tu contraseña?</a>
            </v-flex>
            </v-card-actions>
        </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    Autenticacion () {
      axios.post('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/login',
        {
          email: this.email,
          password: this.password
        }).then(respuesta => {
        console.log(respuesta.data)
        return respuesta.data
      })
        .then((data) => {
          this.$store.dispatch('guardarToken', data.token)
          sessionStorage.setItem('Token', data.token)
          console.log(sessionStorage.setItem('Token', data.token))
          history.pushState(null, '', '/vehiculo')
          location.reload()
        })
        .catch((e) => {
          Swal.fire({
            title: 'Error!',
            text: 'El correo o contraseña es incorrecta',
            icon: 'error',
            timer: 1300,
            confirmButtonText: 'Cool'
          })
        })
    }
  }
}
</script>
