<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
      <v-card>
        <v-toolbar dark color="blue darken-3">
          <v-toolbar-title> Registro </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            v-model="nombre"
            autofocus
            color="accent"
            label="Nombre"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="apellido"
            autofocus
            color="accent"
            label="Apellido"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="email"
            autofocus
            color="accent"
            label="Email"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="password"
            type="password"
            color="accent"
            label="Password"
            required
          >
          </v-text-field>
        </v-card-text>
        <v-card-actions class="px-3 pb-3">
          <v-flex text-xs-right>
            <v-btn color="primary" @click="registrar()">Registrarse</v-btn
            ><br />
            <br />
            <label for=""
              >Ya tienes cuenta? <a href="/">¡Ingresa aquí!</a></label
            >
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  name: 'registro',
  data () {
    return {
      email: '',
      password: '',
      nombre: '',
      apellido: ''
    }
  },
  methods: {
    registrar () {
      axios
        .post(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/registro',
          {
            email: this.email,
            password: this.password,
            nombre: this.nombre,
            apellido: this.apellido
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          history.pushState(null, '', '/')
          location.reload()
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.errorM)
        })
    }
  }
}
</script>
