<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="write">
        <v-toolbar-title>Usuarios</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="nombre" label="Nombre">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-select v-model="rol" :items="roles" label="Rol">
                    </v-select>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="apellido" label="Apellido">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="email" label="Email"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field
                      type="password"
                      v-model="password"
                      label="Password"
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field type="estado" v-model="estado" label="Estado">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div
                      class="red--text"
                      v-for="v in validaMensaje"
                      :key="v"
                      v-text="v"
                    ></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close">Cancelar</v-btn>
              <v-btn color="primary" flat @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline" v-if="adAccion == 1">
              Activar Item
            </v-card-title>
            <v-card-title class="headline" v-if="adAccion == 2">
              Desactivar Item
            </v-card-title>
            <v-card-text>
              Estás a punto de <span v-if="adAccion == 1">activar </span>
              <span v-if="adAccion == 2">desactivar </span> el item
              {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                @click="activarDesactivarCerrar()"
                color="green darken-1"
                flat="flat"
              >
                Cancelar
              </v-btn>
              <v-btn
                v-if="adAccion == 1"
                @click="activar()"
                color="orange darken-4"
                flat="flat"
              >
                Activar
              </v-btn>
              <v-btn
                v-if="adAccion == 2"
                @click="desactivar()"
                color="orange darken-4"
                flat="flat"
              >
                Desactivar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialog2" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.nombre" label="Nombre">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.apellido" label="Apellido">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.email" label="Email">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="editedItem.estado" label="Estado">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close2">Cancelar</v-btn>
              <v-btn color="primary" flat @click="modificar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="usuarios"
        :search="search"
        class="elevation-1"
      >
        <template v-slot:items="props">
          <td class="justify-center layout px-0">
            <template v-if="props.item.estado">
              <v-icon small @click="activarDesactivarMostrar(2, props.item)">
                block
              </v-icon>
            </template>
            <template v-else>
              <v-icon small @click="activarDesactivarMostrar(1, props.item)">
                check
              </v-icon>
            </template>
          </td>
          <td>{{ props.item.nombre }}</td>
          <td>{{ props.item.apellido }}</td>
          <td>{{ props.item.rol }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.estado }}</td>
          <td>
            <div v-if="props.item.estado">
              <span class="blue--text">Activo</span>
            </div>
            <div v-else>
              <span class="red--text">Inactivo</span>
            </div>
          </td>
        </template>
          <template v-slot:[`item.acciones`]="{ item }">
            <v-btn color="primary" @click="editItem(item)">Editar</v-btn>
          </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Resetear</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      search: '',
      usuarios: [],
      editedItem: {
        apellido: '',
        id: '',
        email: '',
        estado: '',
        nombre: '',
        password: ''
      },
      headers: [
        { text: 'Nombre', value: 'nombre', sortable: true },
        { text: 'Apellido', value: 'apellido', sortable: true },
        { text: 'Email', value: 'email', sortable: false },
        { text: 'Estado', value: 'estado', sortable: false },
        { text: 'Acciones', value: 'acciones', sortable: true }
      ],
      editedIndex: -1,
      id: '',
      nombre: '',
      apellido: '',
      rol: '',
      roles: ['Estudiante', 'Docente', 'Colaborador'],
      documentos: ['CEDULA', 'NIT', 'PASAPORTE'],
      email: '',
      password: '',
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: '',
      adApellido: '',
      adId: ''
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo registro' : 'Editar registro'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.listar()
  },
  methods: {
    listar () {
      const token = sessionStorage.getItem('Token')
      axios
        .get(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarTodos',
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          console.log(data)
          this.usuarios = data
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    limpiar () {
      this.id = ''
      this.nombre = ''
      this.apellido = ''
      this.email = ''
      this.password = ''
      this.estado = ''
      this.valida = 0
      this.validaMensaje = []
      this.editedIndex = -1
    },
    validar () {
      this.valida = 0
      this.validaMensaje = []
      if (!this.rol) {
        this.validaMensaje.push('Seleccione un rol.')
      }
      if (this.nombre.length < 1 || this.nombre.length > 50) {
        this.validaMensaje.push(
          'El nombre del usuario debe tener entre 1-50 caracteres.'
        )
      }
      if (this.apellido.length < 1 || this.apellido.length > 50) {
        this.validaMensaje.push(
          'El apellido del usuario debe tener entre 1-50 caracteres.'
        )
      }
      if (this.email.length < 1 || this.nombre.length > 50) {
        this.validaMensaje.push(
          'El email del usuario debe tener entre 1-50 caracteres.'
        )
      }
      if (this.password.length < 1 || this.nombre.length > 64) {
        this.validaMensaje.push(
          'El password del usuario debe tener entre 1-64 caracteres.'
        )
      }
      if (this.validaMensaje.length) {
        this.valida = 1
      }
      return this.valida
    },
    modificar () {
      const token = sessionStorage.getItem('Token')
      console.log(token)
      axios
        .post(
          'http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/editarUsuario',
          {
            id: this.editedItem.id,
            estado: this.editedItem.estado,
            nombre: this.editedItem.nombre,
            apellido: this.editedItem.apellido,
            email: this.editedItem.email,
            password: this.editedItem.password
          },
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          }
        )
        .then((respuesta) => {
          console.log(respuesta.data)
          this.close2()
          this.listar()
          return respuesta.data
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.error)
        })
    },
    editItem (item) {
      this.editedItem = Object.assign({}, item)
      console.log(this.editedItem)
      this.dialog2 = true
    },
    close2 () {
      this.dialog2 = false
    }
  }
}
</script>
