<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Modificar vehiculo</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="email" autofocus color="accent" label="Placa" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="modelo" color="accent" label="Modelo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="color" autofocus color="accent" label="Color" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="tipoV" color="accent" label="Tipo de vehiculo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="marca" autofocus color="accent" label="Marca" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="propietario" color="accent" label="Propietario" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
                <v-spacer></v-spacer>
                <v-btn color="primary">Modificar vehiculo</v-btn>
                <v-spacer></v-spacer>
            </v-toolbar>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      search: ''
    }
  },
  desactivar () {
    const me = this
    axios.put('categoria/activate', { id: this.adId })
      .then(function (response) {
        me.adModal = 0
        me.adAccion = 0
        me.adNombre = ''
        me.adId = ''
        me.listar()
      })
      .catch(function (error) {
        console.log(error)
      })
  }
}
</script>
