<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title> Vehiculo </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="placa" autofocus color="accent" label="Placa" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="modelo" color="accent" label="Modelo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="color" autofocus color="accent" label="Color" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="tipo" color="accent" label="Tipo de vehiculo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="marca" autofocus color="accent" label="Marca" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="propietario" color="accent" label="Propietario" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
                <v-spacer></v-spacer>
                 <v-btn color="primary" @click="guardar()" left absolute>Guargar Vehiculo</v-btn>
                <v-spacer></v-spacer>
            </v-toolbar>
        </v-flex>
</v-layout>
</template>
<script>
import axios from 'axios'
export default {
  name: 'vehiculo',
  data () {
    return {
      placa: '',
      modelo: '',
      color: '',
      tipo: '',
      marca: '',
      propietario: ''
    }
  },
  methods: {
    guardar () {
      const token = sessionStorage.getItem('Token')
      console.log(token)
      axios.post('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/registroVehiculo',
        {
          placa: this.placa,
          modelo: this.modelo,
          color: this.color,
          tipo: this.tipo,
          marca: this.marca,
          propietario: this.propietario
        }, {
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then((respuesta) => {
          return respuesta.data
        })
        .then((data) => {
          history.pushState(null, '', '/CrearReserva')
          location.reload()
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.error)
        })
    },
    consultar () {
      const token = sessionStorage.getItem('Token')
      axios.get('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/consultarVehiculos?id=5fc564a69f62e91a886a341a',
        {
          headers: {
            Authorization: `Bearer ${token}`
          }
        })
        .then((data) => {
          history.pushState(null, '', '/ConsultarVehiculo')
          location.reload()
        })
        .then(function (response) {
          console.log(response.data)
        })
        .catch(function (error) {
          console.log(error)
        })
        .then(function () {
        })
    }
  }
}
</script>

<style scoped>
.left {
  text-align: left;
}
</style>
